@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	box-sizing: border-box;
	letter-spacing: 1.2px;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	background: transparent;
	width: 8px;
	height: 0;
}

::-webkit-scrollbar-track {
	background: #101010;
}

::-webkit-scrollbar-thumb {
	background: #202020;
	border-radius: .5rem 0 0 .5rem;
	box-shadow: inset 0 0 5px #303030;
}

::-webkit-scrollbar-thumb:hover {
	background: #0099ff;
}

::-webkit-scrollbar-thumb:active {
	background: #003366;
}

body {
	color: #ededed;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
}

#section1 {
	padding: 50px 20px 100px;
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
	margin: 0 0 50px;
	width: 100%;
	min-height: 100vh;
	background: radial-gradient(#161616, #090909 50%);
	z-index: 1;
	display: flex;
	justify-content: center;
	transition: top 2s;
}

#section1 > ::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #090909;
	border-radius: 50%;
	transform: translateY(-50%);
	box-shadow: 0 10px 5px 2px #000000d8;
}

#section1Container {
	width: 90%;
	max-width: 800px;
	text-align: center;
}

h1 {
	color: #bbb;
	text-align: center;
	font-size: 26px;
}

#welcomeMsg {
	text-align: center;
}

#section1innerContainer {
	margin-top: 100px;
	z-index: 1;
	/* display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5px; */
}

#section1 iframe {
	border-radius: 50%;
	margin: 17px;
	width: 220px;
	height: 220px;
	border: 2px solid #222;
	box-shadow: 7px 7px 5px #000;
	shape-outside: circle();
	background: linear-gradient(to bottom right, #262626, #090909);
}

#section1Text {
	flex: 1;
	min-width: 200px;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
}

#section1 a {
	text-decoration: underline;
	color: #09f;
	width: fit-content;
	display: inline-block;
}

#scrollDownBt {
	width: 80px;
	height: 5px;
	padding: 0;
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform-origin: center;
	transform: translateX(-50%);
	box-shadow: 7px 7px 5px #000;
	z-index: 1;
}

#scrollDownBt::before {
	content: '';
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-99%);
	width: 49%;
	height: 20px;
	background: linear-gradient(to top right, transparent 50%, #0099ff 51%);
	filter: drop-shadow(7px 7px 2px #000);
}

#scrollDownBt::after {
	content: '';
	position: absolute;
	top: 95%;
	left: 50%;
	/* transform: translate(100%); */
	width: 49%;
	height: 20px;
	background: linear-gradient(to top left, transparent 50%, #0099ff 51%);
	filter: drop-shadow(7px 7px 2px #000);
}

#scrollDownBt:active {
	box-shadow: 2px 2px 5px #000;
	transform: scale(.98) translateX(-50%);
}

#scrollDownBt:active::before,
#scrollDownBt:active::after {
	filter: drop-shadow(2px 2px 1px #000);
}

#canvas1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(rgb(16, 16, 16), rgb(0, 0, 0));
}

#section2 {
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 0;
}

.container {
	z-index: 2;
	margin: 40px auto;
	border-radius: .5rem;
	padding: 10px 10px 20px;
	box-sizing: border-box;
	width: 96%;
	max-width: 1280px;
	overflow-x: auto;
}

h2 {
	border-bottom: 2px solid #161616;
	margin: 0 0 10px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 10px;
}

a {
	display: flex;
	width: 100%;
	max-width: 600px;
}

li {
	position: relative;
	background: #101010d8;
	padding: 10px 16px;
	box-sizing: border-box;
	border-radius: .5rem;
	cursor: pointer;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0 5px 2px #000000a8;
}

li * {
	position: relative;
	z-index: 1;
}

#section1::before,
li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: calc(100% - 2px);
	border: 1px solid #0099ff;
	border-right: none;
	background: linear-gradient(to right, #161616, #101010);
	border-radius: .5rem 0 0 .5rem;
	transform: scaleX(0);
	transform-origin: left;
	transition: .4s;
	z-index: 0;
}

#section1::after,
li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: calc(100% - 2px);
	border: 1px solid #0099ff;
	border-left: none;
	background: linear-gradient(to left, #161616, #101010);
	border-radius: 0 .5rem .5rem 0;
	transform: scaleX(0);
	transform-origin: right;
	transition: .4s;
	z-index: 0;
}

*.hovered::before, *.hovered::after {
	transform: scaleX(1) !important;
}

b {
	background: linear-gradient(10deg, #161616, transparent);
	padding: 4px 8px 2px;
	box-sizing: border-box;
	border-radius: .4rem .4rem 0 0;
	display: flex;
	width: 100%;
}

hr {
	position: relative;
	border: none;
	border-bottom: 1px solid #181818;
	margin: 0 0 10px 0;
}

p {
	margin: 10px 5px;
}

pre {
	margin: 16px 0 0;
	background: #181818;
	padding: 10px 8px;
	overflow-x: auto;
	font-size: 12px;
	border-radius: .5rem;
}

#copyLinkBt {
	width: 100%;
	/* max-width: 360px; */
	margin: 0 0 20px;
}

.blueBt {
	border: none;
	border-radius: .2rem;
	background: #0099ff;
	cursor: pointer;
	padding: 8px 16px;
	box-sizing: border-box;
	opacity: .8;
	font-weight: bolder;
	letter-spacing: 1px;
}

.blueBt:hover {
	opacity: 1;
}

.blueBt:active {
	opacity: .8;
	transform: scale(.98);
}

.badge {
	margin: 8px 8px 0 0;
}

a {
	text-decoration: none;
	color: #ededed;
}

a:visited {
	color: #ededed
}

a:hover {
	color: #ededed;
}

footer {
	/* display: none; */
	background: #101010d8;
	box-shadow: 0 -5px 5px 2px #000000a8;
	padding: 10px;
	z-index: 2;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	gap: 9px;
}

footer a {
	text-decoration: underline;
	width: fit-content;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#hideInterfaceBt {
	outline: none;
	border: none;
	border-radius: .2rem;
	background-color: #202020;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 16px;
	box-sizing: border-box;
	color: #ccc;
	cursor: pointer;
	opacity: .8;
}

#hideInterfaceBt:hover {
	opacity: 1;
	transform: scale(1.02);
}

#hideInterfaceBt:active {
	transform: scale(.98);
}

#eyeImg {
	width: 24px;
	opacity: .5;
}

@media(min-width: 400px) {

	#section1 iframe {
		float: left;
	}

	#section1Text {
		text-align: left;
	}

}