@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	box-sizing: border-box;
	letter-spacing: 1.2px;
}

::-webkit-scrollbar {
	background: transparent;
	width: 8px;
	height: 0;
}

::-webkit-scrollbar-track {
	background: #101010;
}

::-webkit-scrollbar-thumb {
	background: #202020;
	border-radius: .5rem 0 0 .5rem;
	box-shadow: inset 0 0 5px #303030;
}

::-webkit-scrollbar-thumb:hover {
	background: #0099ff;
}

::-webkit-scrollbar-thumb:active {
	background: #003366;
}

body {
	background: radial-gradient(#161616, #000);
	color: #ededed;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;

}

header {
	/* display: none; */
	background: #101010d8;
	box-shadow: 0 5px 5px 2px #000000a8;
	padding: 10px;
	box-sizing: border-box;
	z-index: 2;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 13px;
}

h1 {
	color: #bbb;
	text-align: center;
	font-size: 26px;
}

#section1 {
	padding: 20px;
	box-sizing: border-box;
	left: 50%;
	transform: translate(-50%);
	top: 0;
	margin: calc(50vh - 150px) 0;
	width: 80%;
	max-width: 800px;
	position: relative;
	background: #101010d8;
	border-radius: .5rem;
	box-shadow: 0 0 5px 2px #000000a8;
	display: flex;
}

#section1>div {
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

#section1 iframe {
	border-radius: 50%;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border: 2px solid #013;
	/* opacity: .7; */
}

#section1Text {
	flex: 1;
	min-width: 200px;
	width: 100%;
	overflow: auto;
}

#section1 a {
	text-decoration: underline;
	color: #09f;
	width: fit-content;
	display: inline-block;
}

#section1 b {
	font-size: 20px;
}

#section2 {
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	overflow: hidden;
}

#canvas1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgb(16, 16, 16), rgb(0, 0, 0));
}

.container {
	z-index: 2;
	margin: 40px auto;
	border-radius: .5rem;
	padding: 10px 10px 20px;
	box-sizing: border-box;
	width: 80%;
	max-width: 1280px;
	overflow-x: auto;
}

h2 {
	border-bottom: 2px solid #161616;
	margin: 0 0 10px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 10px;
}

a {
	display: flex;
	width: 100%;
	max-width: 600px;
}

li {
	position: relative;
	background: #101010d8;
	padding: 10px 16px;
	box-sizing: border-box;
	border-radius: .5rem;
	cursor: pointer;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0 5px 2px #000000a8;
}

li * {
	position: relative;
	z-index: 1;
}

#section1::before,
li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: calc(100% - 2px);
	border: 1px solid #0099ff;
	border-right: none;
	background: linear-gradient(to right, #161616, #101010);
	border-radius: .5rem 0 0 .5rem;
	transform: scaleX(0);
	transform-origin: left;
	transition: .4s;
	z-index: 0;
}

#section1::after,
li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: calc(100% - 2px);
	border: 1px solid #0099ff;
	border-left: none;
	background: linear-gradient(to left, #161616, #101010);
	border-radius: 0 .5rem .5rem 0;
	transform: scaleX(0);
	transform-origin: right;
	transition: .4s;
	z-index: 0;
}

*.hovered::before, *.hovered::after {
	transform: scaleX(1) !important;
}

b {
	background: linear-gradient(10deg, #161616, transparent);
	padding: 4px 8px 2px;
	box-sizing: border-box;
	border-radius: .4rem .4rem 0 0;
	display: flex;
	width: 100%;
}

hr {
	position: relative;
	border: none;
	border-bottom: 1px solid #181818;
	margin: 0 0 10px 0;
}

p {
	margin: 10px 5px;
}

pre {
	margin: 16px 0 0;
	background: #181818;
	padding: 10px 8px;
	overflow-x: auto;
	font-size: 12px;
	border-radius: .5rem;
}

#copyLinkBt {
	width: 100%;
	/* max-width: 360px; */
	border: none;
	border-radius: .2rem;
	background: #0099ff;
	cursor: pointer;
	padding: 8px 16px;
	box-sizing: border-box;
	margin: 0 0 20px;
	opacity: .8;
	font-weight: bolder;
}

#copyLinkBt:hover {
	opacity: 1;
}

#copyLinkBt:active {
	opacity: .8;
	transform: scale(.98);
}

.badge {
	margin: 8px 8px 0 0;
}

a {
	text-decoration: none;
	color: #ededed;
}

a:visited {
	color: #ededed
}

a:hover {
	color: #ededed;
}

footer {
	/* display: none; */
	background: #101010d8;
	box-shadow: 0 -5px 5px 2px #000000a8;
	padding: 10px;
	z-index: 2;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	gap: 9px;
}

footer a {
	text-decoration: underline;
	width: fit-content;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#hideInterfaceBt {
	outline: none;
	border: none;
	border-radius: .2rem;
	background-color: #202020;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 16px;
	box-sizing: border-box;
	color: #ccc;
	cursor: pointer;
	opacity: .8;
}

#hideInterfaceBt:hover {
	opacity: 1;
	transform: scale(1.02);
}

#hideInterfaceBt:active {
	transform: scale(.98);
}

#eyeImg {
	width: 24px;
	opacity: .5;
}